{% extends "page" %}

{% block title -%}{{ function.name }} - {{ project.name }}{% endblock title -%}

{%- block content -%}
<div class="namespace-link">
    {{ get_link_for_namespace(namespace=function.namespace, parent=[])}}
</div>
<h1> Function {{ function.name }}</h1>
<div class="method highlight nobg">
  {{ macros::output_method(method=function, namespace=function.namespace, parent=[]) }}
</div>

{%- if function.overloads -%}
<h2> Overloads </h2>
{%- for overload in function.overloads -%}
<div class="method highlight nobg"> {{ macros::output_method(method=overload, namespace=function.namespace, parent=[]) }} </div>
{%- if overload.comment -%}
<div class="item-desc">{{ overload.comment["brief"] }}</div>
<div class="item-desc">{{ overload.comment["description"] }}</div>
{%- endif -%}
{%- endfor -%}
{%- endif -%}

{%- if function.comment -%}
<h2> Description </h2>
<div class="item-desc">{{ function.comment["brief"] }}</div>
<div class="item-desc">{{ function.comment["description"] }}</div>
{%- endif -%}


    
{%- endblock content -%}
