{% macro output_decl_raw(decl, namespace, parent) -%}{%if decl.struct %}<pre style="margin:0;">{{ output_struct(struct=decl.struct, namespace=namespace, type=decl.type) }}{% else %}{{ link_for_type(type=decl.type, namespace=namespace, parent=parent)}}{% endif %}{%if decl.name %} {{ decl.name }}{%if decl.struct %}</pre>{%endif%}{%endif%}{% endmacro -%}

{% macro output_decl(decl, namespace, parent) -%}
<code class="nobg">{{self::output_decl_raw(decl=decl, namespace=namespace, parent=parent)}}</code>
{% endmacro -%}


{% macro output_page(page, curpage, indent_level=1) -%}
  <li>
    {% if page['numbered'] %}{{ page['number'] }}.{% endif %} {% if curpage['path'] == page['path'] %}<a class="active" href="{{ config.output.base_url }}/{{ page['path'] }}.html">{{ page['name'] }}</a>{% else %}<a href="{{ config.output.base_url }}/{{ page['path'] }}.html">{{ page['name'] }}</a> {% endif %}
  </li>
  {% if page.sub_pages %}
    <ul style="margin-left: {{ indent_level * 20 }}px;">
      {% for subpage in page.sub_pages %}
        {{ self::output_page(page=subpage, curpage=curpage, indent_level=indent_level + 1) }}
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro -%}



{% macro output_method(method, namespace, parent) -%}
<code class="nobg">
{% if method.template %}
{{ output_template(template=method.template, namespace=namespace) }}
{% endif %}  
{% if method.props and method.props.static %}
static
{% endif %}
{% if method.props and method.props.virtual %}
virtual
{% endif %}
{{ link_for_type(type=method.return_type, namespace=namespace) }} {{ method.name }}({%for param in method.parameters %}{{self::output_decl_raw(decl=param, namespace=namespace, parent=parent)}}{% if not loop.last %}, {% endif %}{%endfor%}) {% if method.props and method.props.const %}
const
{% endif %}
</code>
{% endmacro -%}

{% macro sidebar(pages, project, summary, page) -%}
<div class="sidebar" role="navigation" aria-label="Main">
  <div class="sidebarwrapper">
    
    <h1>{{ project.name }}</h1>
    <form action="{{ config.output.base_url }}/search.html" method="get">
      <input class="searchbar" type="text" name="query" placeholder="Search...">
    </form>
    
    <div class="sidebar-scroll">
      <h2>Contents</h2>
      <ul>
        <li> <a {% if page['path'] == 'index.html' %} class="active" {% endif %} href="{{ config.output.base_url }}/index.html">Index</a></li>
        {% for segment in summary.segments %}
           {% if segment.Section is defined %}
            <li><h3>{{ segment.Section }}</h3></li>
          {% else %}
            {{ self::output_page(page=segment.Page, curpage=page) }}
          {% endif %}
        {% endfor %}
      </ul>

      <h2>Reference</h2>
      <ul>
        <li><a href="{{ config.output.base_url }}/index.html#functions">Functions</a></li>
        <li><a href="{{ config.output.base_url }}/index.html#namespaces">Namespaces</a></li>
        <li><a href="{{ config.output.base_url }}/index.html#records">Records</a></li>
        <li><a href="{{ config.output.base_url }}/index.html#enums">Enums</a></li>
      </ul>
    </div>
    
  </div>
</div>

<div class="mobile-nav" role="navigation" aria-label="Mobile Navigation">
  <h1>{{ project.name }}</h1>
  <form action="{{ config.output.base_url }}/search.html" method="get">
    <input class="searchbar" type="text" name="query" placeholder="Search...">
  </form>
  <nav>
    <h2>Contents</h2>
    <ul>
      <li><a href="{{ config.output.base_url }}/index.html">Index</a></li>
      {% for segment in summary.segments %}
        {% if segment.Section is defined %}
          <li><strong>{{ segment.Section }}</strong></li>
        {% else %}
          {{ self::output_page(page=segment.Page, curpage=page) }}
        {% endif %}
      {% endfor %}
    </ul>
    <h2>Reference</h2>
    <ul>
      <li><a href="{{ config.output.base_url }}/index.html#functions">Functions</a></li>
      <li><a href="{{ config.output.base_url }}/index.html#namespaces">Namespaces</a></li>
      <li><a href="{{ config.output.base_url }}/index.html#records">Records</a></li>
      <li><a href="{{ config.output.base_url }}/index.html#enums">Enums</a></li>
    </ul>
  </nav>
</div>
{% endmacro %}
